@*same comments as Department*@
@model UsersViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create User</h1>
<br />
<br />
@*enctype if the user will upload file (the form has input from type file )*@
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <partial name="PartialView/CreateEditPV" />
    <div>
        <label asp-for="Password" class="col-form-label" ></label>
        <input type="text" asp-for="Password" class="form-control" required/>
    </div>
    <div>
        <label asp-for="ConfirmPassword" class="col-form-label"></label>
        <input type="text" asp-for="ConfirmPassword" class="form-control" required/>
    </div>
    <div>
        <label asp-for="Roles" class="col-form-label"></label>
        <input type="text" asp-for="Roles" class="form-control" />
    </div>
    <input type="submit" value="Create" class="btn btn-primary mt-5" />
    <a asp-action="Index" class="btn btn-Light mt-5">Back to home</a>
</form>
@section client_side_validation
{
    <partial name="_ValidationScriptsPartial" />
}

