@{
    ViewData["Title"] = "EmailBox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="agileits-top">
    <p>Check your inbox</p>
    <a href="https://mail.google.com/mail/u/0/#inbox">Inbox</a>
</div>