@*same comments as Department*@
@model RoleViewModel;  
@*to show photo*@

<div>
    <label asp-for="Name" class="col-form-label"></label>
    <input type="text" asp-for="Name" class="form-control" readonly />
</div>

